.mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: transparent;
}

.mat-vertical-stepper-header {}

.stepper.list-progress {
  font-family: 'robotlight';
  font-size: 17px;
    font-weight: 300;
    font-style: normal;
  color: white;
  border-radius: 50%;
  height: 24px;
  background: #4fa723;
  width: 24px;
  display: inline-block;
  flex-shrink: 0;
  position: relative;
}

.stepper.number-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.stepper.center-list {
  display: flex;
  align-items: center;
  padding: 13px;
  max-height: 24px;
}

.stepper.list-span {
  padding-left: 14px;
}

.center-list {
  display: flex;
  align-items: center;
  padding: 13px;
  max-height: 24px;
}

.list-progress {
  /* font-family: 'robotlight';
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-style: normal;
  padding-right: 9px;
  display: inline-block;
  flex-shrink: 0;
  position: relative; */
  font-family: 'robotlight';
  /* font-size: 17px; */
  /* font-weight: 300; */
  font-style: normal;
  font-style: normal;
  padding-right: 9px;
  display: inline-block;
  /* flex-shrink: 0; */
  /* position: relative; */
}
span.stepper {
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
}
