.mat-stepper-horizontal,
.mat-stepper-vertical {
  background-color: transparent;
}


ul {
  margin-bottom: 0px;
}
.stepper.list-progress {
  font-family: 'robotlight';
  font-size: 17px;
    font-weight: 300;
    font-style: normal;
  color: white;
  border-radius: 50%;
  height: 24px;
  background: #4fa723;
  width: 24px;
  display: inline-block;
  flex-shrink: 0;
  position: relative;
}

.stepper.number-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ul ,ol , dl, p {
  font-family: 'robotlight', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-align: justify;
}

.stepper.center-list {
  display: block;
  align-items: center;
  /* padding: 13px; */
  /* max-height: 24px; */
}

.stepper.list-span {
  padding-left: 14px;
}

.center-list {
  display: block;
  align-items: center;
  /* padding: 13px; */
  /* max-height: 24px; */
}

.list-progress {
  /* font-family: 'robotlight';
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-style: normal;
  padding-right: 9px;
  display: inline-block;
  flex-shrink: 0;
  position: relative; */
  font-family: 'robotlight';
  /* font-size: 17px; */
  /* font-weight: 300; */
  font-style: normal;
  font-style: normal;
  padding-right: 9px;
  display: inline-block;
  /* flex-shrink: 0; */
  /* position: relative; */
}
span.stepper {
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
}
h2 {
  padding-left: 1.25rem; padding-top: 1.25rem;
}

