<div class="col-md-12" *ngIf="data.styles.list_type === 'normal'">
  <h2 *ngIf="data.content.title" class="featurette-heading">
    {{data.content.title}}</h2>
  <div *ngIf="data.content.text.length > 0">
    <p class="lead">{{data.content.text}}</p>
  </div>
  <ul *ngIf="data.content.items.length > 0">
    <li *ngFor="let item of data.content.items">{{item}}</li>
  </ul>
</div>

<div class="col-md-12" *ngIf="data.styles.list_type !== 'normal'">
  <div class="col-md-6" [ngStyle]="{'float': data.styles.float}" *ngFor="let content of data.content">
    <h2 class="featurette-heading" style=" padding-left: 1.25rem; padding-top: 1.25rem;">
      {{content.title}}</h2>
    <div *ngIf="content.text > 0">
      <p class="lead">{{content.text}}</p>
    </div>
    <div *ngIf="content.items.length > 0">
      <ul style="list-style: square inside; padding: 0px;" >
  
        <li style="padding: 0px;" *ngFor="let item of content.items; index as i ">{{item}}</li>
      </ul>
    </div>
  </div>
</div>
