<div *ngFor="let content of data.content">
  <h2 class="featurette-heading">{{data.title}}</h2>
  <div class="col-md-6 content-video" [ngStyle]="{'float': data.styles.float}" *ngIf="content.videos">
    <div class="col-md-12  content-video" [ngStyle]="{'float': data.styles.float}" *ngFor="let videos of content.videos">
      <fb-video *ngIf="videos.url" [href]="videos.url"></fb-video>
      <p>{{videos.description}}</p>
    </div>
  </div>
  <div *ngIf="content.images">
    <!-- <div class="col-md-12 content-image" [ngStyle]="{'float': data.styles.float}" *ngIf="content.images.lenght > 0">
      <div class="tz-gallery col-md-6 content-image" [ngStyle]="{'float': data.styles.float}" *ngFor="let image of content.images">
        <a class="lightbox" routerLink="{{image.url}}">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{image.url}}"
            data-holder-rendered="true">
          <p>{{image.description}}</p>
        </a>
      </div>
    </div> -->
    <div class="tz-gallery col-md-12 content-image" [ngStyle]="{'float': data.styles.float}" *ngIf="content.images.length > 1">
      <div class="col-md-6 content-image" [ngStyle]="{'float': data.styles.float}" *ngFor="let image of content.images">
        <a class="lightbox" href="{{image.url}}">
          <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{image.url}}"
            data-holder-rendered="true">
        </a>
      </div>
    </div>
    <div class="tz-gallery col-md-12 content-image" [ngStyle]="{'float': data.styles.float}" *ngIf="content.images.length === 1">
        <div class="col-md-12 content-image" [ngStyle]="{'float': data.styles.float}" *ngFor="let image of content.images">
          <a class="lightbox" href="{{image.url}}">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{image.url}}"
              data-holder-rendered="true">
          </a>
        </div>
      </div>

  </div>
</div>
