<h2 class="featurette-heading">{{data.content.title}}</h2>
<div class="col-md-6 content-video" [ngStyle]="{'float': data.styles.float}" *ngFor="let videos of data.content.videos">
  <fb-video *ngIf="videos.url" [href]="videos.url"></fb-video>
  <p>{{videos.description}}</p>
</div>
<div class="col-md-6 content-image" [ngStyle]="{'float': data.styles.float}" *ngFor="let image of data.content.images">
  <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{image.url}}"
    data-holder-rendered="true">
    <p>{{image.description}}</p>
</div>

<style>
.content-image:nth-child(odd) {
  float: left!important;
}
.content-image:nth-child(even) {
  float: right!important;
}
</style>