@media screen and (max-width: 600px){
  table td::before {
      font-weight: bold;
      text-align: center;
      display: block;
      /* margin: auto; */
      /* clear: both; */
      text-transform: uppercase;
  }
  }