<div class="row justify-content-md-center">
  <div class="col-md-auto">
    <table id="{{data.id}}">
      <thead>
        <th scope="col" *ngFor="let thead of data.content.thead" [attr.colspan]="thead.style.colspan">{{thead.title}}</th>
      </thead>
      <tr *ngFor="let tables of data.content.columns; index as i">
        <td [class]="data.class" *ngFor="let table of data.content.columns[i]; index as c" [attr.data-label]="table[0].title ? data.content.thead[c] ? data.content.thead[c].title : '' : ''">
          <div class ="dialog-button" *ngIf="table[0].dialog > 0"> <button class="btn btn-light" (click)="openDialog(table[0].title)">{{table[0].title}}</button></div>
          <div *ngIf="table[0].dialog == 0">{{table[0].title}} </div>
          <span *ngIf="table[1].subtitle"><br>{{table[1].subtitle}}</span>
          <ul *ngIf="table[1].list">
            <li *ngFor="let item of table[1].list">{{item}}</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
