<div style="text-align: left" *ngIf="getDataType() ==='array'">
  <div *ngFor="let item of data">{{item}}</div>
</div>
<div *ngIf="getDataType() ==='content'">
  <button (click)="openDialog(data.extra_content)" *ngIf="data.background_color" [ngStyle]="{'background-color': data.background_color, 'width':'100%'}"
    class="btn btn-light">
    {{data.content}}
  </button>
  <div *ngIf="!data.background_color">
    {{data.content}}
  </div>

</div>
<div [ngClass]="type_table+'-test'" *ngIf="getDataType() ==='string'">
  <div *ngIf="data.length > 0">{{data}}</div>
</div>
