<!-- <div class="row justify-content-md-center">
  <div style="width:100%" class="col-md-auto">
    <div *ngIf="data">
    <table class="table" id="{{data.id}}">
      <thead class="thead-dark">
        <th scope="col" *ngFor="let thead of data.content.thead" [attr.colspan]="thead.style.colspan">{{thead.title}}</th>
      </thead>
      <tr *ngFor="let tables of data.content.columns; index as i">
        <td class="table-content" [class]="data.class" *ngFor="let table of data.content.columns[i]; index as c"
          [attr.data-label]="table[0].title ? data.content.thead[c] ? data.content.thead[c].title : '' : ''">
          <div class="dialog-button" *ngIf="table[0].dialog > 0"> <button [ngStyle]="{'background-color': table[0].color}"
              class="btn btn-light" 
              (click)="openDialog(table[0].title)">
              <div class="dialog-button" *ngIf="table[0].dialog > 0"> <button [ngStyle]="{'background-color': table[0].color}"
                class="btn btn-light" 
              >
              {{table[0].title}}</button></div>
          <div class="first-dialog" *ngIf="table[0].dialog == 0">{{table[0].title}} </div>
          <span *ngIf="table[1].subtitle"><br>{{table[1].subtitle}}</span>
          <ul *ngIf="table[1].list">
            <li *ngFor="let item of table[1].list">{{item}}</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
  </div>
</div> -->

<div class="row justify-content-md-center" *ngIf="data.styles.text_type === 'table-o-a'">
    <div style="width:100%" class="col-md-auto">
      <div *ngIf="data">
        <table class="table">
          <thead class="thead-dark" *ngIf="data.content.title">
            <th scope="col" colspan="100%">{{data.content.title}}</th>
          </thead>
          <thead class="thead-dark" *ngIf="data.content.headers">
            <th scope="col" *ngFor="let header of data.content.headers">{{header}}</th>
          </thead>
          <tr *ngFor="let row of data.content.data; index as i">
              <td class="table-content" [class]="'normal'" *ngFor="let cell of row; index as c"
              [attr.data-label]="data.content.headers[c] ? data.content.headers[c]: ''">
                <app-table-cell [data]="cell"></app-table-cell>
              </td>
          </tr>
        </table>
      </div>
    </div>
  </div>


<div class="row justify-content-md-center" *ngIf="data.styles.text_type !== 'table-o-a'">
  <div style="width:100%" class="col-md-auto">
    <div *ngIf="data">
      <table class="table">
        <thead class="thead-dark" *ngIf="data.content.title">
          <th scope="col" colspan="100%">{{data.content.title}}</th>
        </thead>
        <thead class="thead-dark" *ngIf="data.content.headers">
          <th scope="col" *ngFor="let header of data.content.headers">{{header}}</th>
        </thead>
        <tr *ngFor="let row of data.content.data; index as i">
            <td class="table-content" *ngFor="let cell of row">
              <app-table-cell [data]="cell"></app-table-cell>
            </td>
        </tr>
      </table>
    </div>
  </div>
</div>
