<!-- <hr>
<div class="row featurette card">
  <div class="card-body row">
    <div class="col-md-7 order-md-2" [ngStyle]="{'order': data.style.order}">
      <h2 style="padding-left: 1.25rem;padding-top: 1.25rem;" class="featurette-heading">{{data.content.title}}<br> <span
          class="text-muted">{{data.content.lead}} </span></h2>
      <p class="lead">{{data.content.text}}</p>
      
        <ul *ngIf="data.content.items">
          <li *ngFor="let item of data.content.items">{{item}}</li>
        </ul>
    
    </div>
    <div class="col-md-5 order-md-1">    
      <img *ngIf="data.content.image" class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{data.content.image}}"
        data-holder-rendered="true">
    </div>
  </div>
</div> -->

<!-- <div class="feature-wrapper">
  <div class="feature-img-wrapper twelve-col" [ngStyle]="{'background-image':'url('+data.content.image+')'}"></div>
  <div class="feature-card" data-color="explore">
    <div class="feature-text">
      <h2><span data-color="explore">{{data.content.title}}</span></h2>
      <p>{{data.content.text}}</p>
    </div>
  </div>
</div> -->


      <div class="col-lg-offset-2 col-lg-12">
        <div class="row" style="display:block">
          <div [ngClass]="data.style.text_type" class="col-sm-12 box-news-content" style="float:left;padding: 0px;">
           
              <div [ngClass]="data.style.text_type" class="col-sm-6 box-news image-box-t" style="width: 100; height: 100%; padding-left: 0px">
                  <h2 *ngIf="data.content.title" class="featurette-heading" style="padding-top: 1.25rem;" [ngClass]="data.style.text_type"  class="fit-p-on-title">{{data.content.title}}</h2>
                <p [ngClass]="data.style.text_type"  class="lead">
                    {{data.content.text}} </p>
                    <ul *ngIf="data.content.items">
                        <li *ngFor="let item of data.content.items">{{item}}</li>
                      </ul>
               
              </div>
              <div class="col-sm-6 box-news image-box-s" [ngStyle]="{'background-image':'url('+data.content.image+')'}"
                style="float:left;width: 100%">
              </div>
       
          </div>
        </div>
      </div>
    