<div class="row" [ngClass]="data.styles.text_type">
  <img *ngIf="data.content.image" class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500"
    src="{{data.content.image}}" data-holder-rendered="true">
  <div class="col-sm-12 box-news-content">
    <h2 *ngIf="data.content.title" class="fit-p-on-title col-sm-12">{{data.content.title}}</h2>
    <div class="col-sm-12 box-news image-box-t">
      <p class="lead">
        {{data.content.text}} </p>
      <ul *ngIf="data.content.items">
        <li *ngFor="let item of data.content.items">{{item}}</li>
      </ul>
    </div>
  </div>
</div>