<app-header [portal]="portal"></app-header>
<div class=" row content-header" [ngStyle]="{'background': portal.style.colors.primary}">
  <div class="container">
    <h1 *ngIf="activeSection" [ngStyle]="{'background': portal.style.colors.primary}" class="fit-content-header-label">{{activeSection.label}}</h1>
  </div>
  <div class="">
        <h1 class="fit-content-header"></h1>
      </div>
</div>
<app-section *ngIf="activeSection" [section]="activeSection"></app-section>
<app-footer [portal]="portal"></app-footer>
