<div class="row content-row" [ngStyle]="{'float': contentItem.float}" *ngFor="let contentItem of contentItems">
  <app-fb *ngIf="contentItem.type === 'fb'" [data]="contentItem"></app-fb>
  <app-text *ngIf="contentItem.type === 'text'" [data]="contentItem"></app-text>
  <app-textimages *ngIf="contentItem.type === 'text_and_image'" [data]="contentItem"></app-textimages>
  <app-gallery *ngIf="contentItem.type === 'gallery'" [data]="contentItem"></app-gallery>
  <app-list *ngIf="contentItem.type === 'list'" [data]="contentItem"></app-list>
  <app-table *ngIf="contentItem.type === 'table'" [data]="contentItem"></app-table>
</div>
