<div class="col-md-8" style="margin:0 auto">
  <h2 class="featurette-heading" style="padding-left: 1.25rem;padding-top: 1.25rem;"></h2>
  <div>
    <div class="col-lg-offset-2 col-md-12">
      <div *ngFor="let datas of data.data" class="row" style="display:block">
        <div *ngFor="let link of datas.link; index as i" class="col-sm-6 box-list-card">
          <div *ngIf="!portalFilter(link)" style="position: relative">
            <a routerLink="/{{portals.portal.name}}/{{datas.link[i]}}" style="cursor:pointer;">
              <div [ngStyle]="{'background': datas.color[i]}" class="img-responsive box-image">
                <h2 style="text-align: center; color:white;"> {{typeClasses.label}}</h2>
                <p style=" color:white;"> {{data.content.text[i]}}</p>
                <span class="more">Zobacz</span>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
