a {
  font-family: 'robotlight', sans-serif;
  font-weight: 300;
  line-height: 20.2px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-size: 16px;
  font-style: normal;
}
a:hover {
  color: white !important;
}
.align-items-center {
  padding-top:8px!important;
  padding-bottom:8px!important;
}
footer {
  /* background: #25282a; */
  background: black;
  margin-top:60px;
  color: #e6e6e6;
  font-family: 'robotlight';
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
    text-decoration: none;
}
.image-footer-logo {
  font-size: 20px; 
  font-family: 'OSWALD';
}
.p-hr-f {
  padding-left:10px;
  padding-right:10px;
}
.logo-portals {
  position: absolute;
 z-index: 2;
 height: 200px;
 opacity: 0.2;
 right: 0px;
}
.logo-portals-footer {
  height: 50px;
}
footer a,p {
  color: rgba(255, 255, 255, 0.6);
}
.fa-time {
  padding-right: 2px;
}
.time-footer {
  font-weight: 900;
  text-align: right;
  float: right;
}
.footer-copyright {
  color: white;
    border-top: 1px solid #ffffff1f;
    font-size: 10px;
    padding: 2px !important;
}
.footer-copyright a {
  color: white;
   
    font-size: 12px;
    padding: 2px;
}
.text-black-50 {
  color: rgba(255, 255, 255, 0.6)!important;
}
/* .p-hr-s {
border-left:1px solid white;
border-right:1px solid white;
}
.p-hr-l {
  border-right:1px solid white;
}
.p-hr-f {
  border-left:1px solid white;
} */
.lead-footer {
  font-family: 'robotlight', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.2px;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 text-align: unset;
}