<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div [ngStyle]="{'background': portal.style.colors.primary}">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center" style="padding-top:8px!important;padding-bottom:8px!important;">

        <!-- Grid column -->

        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="" style="font-size: 20px;
          font-family: OSWALD;">
              <img class="logo-portals" src="assets/images/spinner.png" style="
              height: 50px;" >Karma Zdrowia
        
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>
  
  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4 p-hr-f" style="padding-left:10px;padding-right:10px;">


        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Kontakt</h6>
        <p class="lead-footer">
           <i class="fa fa-home mr-3"></i>32-540 Trzebinia, 
        </p>
        <p class="lead-footer" style="padding-left: 32px;line-height: 0px;padding-bottom: 10px;">ul. Rafineryjna 10</p>
        <p class="lead-footer">
          <i class="fa fa-envelope mr-3"></i> <a [ngStyle]="{'color': portal.style.colors.primary}" href="mailto:karmazdrowia@gmail.com">karmazdrowia@gmail.com</a></p>
          <p class="lead-footer">
          <i class="fa fa-phone mr-3"></i> 530 792 265 </p>


      </div>
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 p-hr-s">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Link</h6>
        <p class="lead-footer">
          <a routerLink="/{{portal.name}}/regulamin">Regulamin</a>
        </p>
      </div>

      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 p-hr-l">

        <!-- Links -->
        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Godziny otwarcia</h6>
        <p class="lead-footer">
          <span class="lead-footer dark-grey-text">16:00-20:30</span>
        </p>

      </div>
      <!-- Grid column -->
 <img class="logo-portals" src="assets/images/spinner.png" style="position: absolute;
 z-index: 2;
 height: 200px;
 opacity: 0.2;
 right: 0px;" >
    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->
 
  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
    <a class="dark-grey-text" href="">JPW Web Design</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
