<!-- <app-text></app-text>
<app-gallery></app-gallery> -->
<div class="container marketing" *ngFor="let a of sections">

  
<h2>{{a.label}}</h2>

    <!-- START THE FEATURETTES -->

    
<div *ngFor="let b of a.data">
        <hr class="featurette-divider">
    <div class="row featurette" *ngIf="b.type == 'text'">
        
      <div class="col-md-12">
        <h2 class="featurette-heading">{{b.type}} <span class="text-muted">{{b.content.lead}} </span></h2>
        <p class="lead">{{b.content.text}}</p>
      </div>
      
    </div>

    

    <div class="row featurette" *ngIf="b.type == 'text_and_image'">
            <hr class="featurette-divider">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">{{b.type}} <span class="text-muted">{{b.content.lead}} </span></h2>
        <p class="lead">{{b.content.text}}</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{b.content.image}}" data-holder-rendered="true" style="width: 500px; height: 500px;">
      </div>
    </div>

   

    <div class="row featurette" *ngIf="b.type == 'gallery'">
            <hr class="featurette-divider">
      <div class="col-md-12">
        <h2 class="featurette-heading">{{b.type}} <span class="text-muted">{{b.type}} </span></h2>
        <p class="lead">{{b.content.title}}</p>
      </div>
      <div class="col-md-6" *ngFor="let x of b.content.images">
        <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{x.url}}" data-holder-rendered="true" style="width: 500px; height: 500px;">
      </div>
     
    </div>
    </div>

    <hr class="featurette-divider">

  

  </div>
<!-- <div *ngFor="let a of sections">
    <h1>{{a.name}}<small> - {{a.label}} </small></h1>
    <hr>
    <div *ngFor="let b of a.data">
        <div *ngIf="b.type == 'text'">
            <h1>{{b.type}}</h1>
            <p>{{b.content.text}}</p>
        </div>
        <div *ngIf="b.type == 'text_and_image'">
            <h1>{{b.type}}</h1>
            <p>{{b.content.text}}</p>
        </div>
        <div *ngIf="b.type == 'gallery'">
            <h1>{{b.type}}</h1>
            <h5>{{b.content.title}}</h5>
        </div>
      
       <div *ngFor="let x of b.content.images">
           {{x.url}}
           </div>
    </div>
</div> -->

