<div class="content-t-i" *ngIf="data.styles.text_type === 'default'">
	    	<div class="" *ngFor="let text of data.content" [innerHTML]="text.text | safe: 'html'">
      <a *ngIf="text.reference && text.decriptions" routerLink="{{text.reference}}"><span>{{text.decriptions}}</span></a>
  </div>
</div>
<a id="zl-url" class="zl-url" href="https://www.znanylekarz.pl/maja-bednarczyk/fizjoterapeuta-terapeuta/krakow" rel="nofollow" data-zlw-doctor="maja-bednarczyk" data-zlw-type="big" data-zlw-opinion="false" data-zlw-hide-branding="true">Maja Bednarczyk - ZnanyLekarz.pl</a>

