<div class="content-t-i" *ngIf="data.styles.text_type === 'default'">
  <div class="col-md-12" style="margin:0 auto" *ngFor="let text of data.content">
    <h2 [ngStyle]="{'text-align': data.styles.text_align}" *ngIf="text.title || text.lead" class="featurette-heading"
      style="padding-left: 1.25rem;padding-top: 2rem; font-family: OSWALD; color:black; font-weight: 600; text-align: center; clear: both;">{{text.title}}
      <span class="text-muted">{{text.lead}} </span></h2>
    <p class="lead" [ngStyle]="{'text-align': data.styles.text_align}" [innerHTML]="text.text | safe: 'html'">{{text.text}}
      <a *ngIf="text.reference && text.decriptions" routerLink="{{text.reference}}"><span>{{text.decriptions}}</span></a>
    </p>
    <ul *ngIf="text.items?.length > 1">
      <div *ngFor="let item of text.items">
        <li *ngIf="item.length > 0">{{item}}</li>
      </div>
    </ul>
  </div>
</div>