/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
main {
	background-color: #f3f3f3;
}
html, 
body { 
	height: 100%; 
}
body { 
	margin: 0; 
	font-family: 'Copernicus', sans-serif; 
}
h1,
p,
h5
{
  	font-family: 'Copernicus';
	font-weight: normal;
	font-style: normal;
}

span
{
  	font-family: 'Montserrat';
	font-weight: normal;
	font-size: 12px;
	font-style: normal;
}
a {
    font-family: 'Montserrat';
	font-weight: normal;
	font-size: 14px;
	font-style: normal;
}

h2{
  	font-family: 'HUGE';
	font-weight: normal;
	font-weight: normal;
	font-style: normal;
}
a#dropdown01{
	font-family: 'Montserrat';
	font-size:12px;
}
@font-face {
	font-family: 'Huge';
	src: url("/assets/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/huge_agb_v5-webfont.woff") format("woff"), url("/assets/fonts/huge_agb_v5-webfont.ttf") format("truetype"), url("/assets/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg")
}

@font-face {
	font-family: 'Copernicus';
	font-weight: normal;
	font-style: normal;
	src: url("/assets/fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GalaxieCopernicus-Book.woff") format("woff"), url("/assets/fonts/GalaxieCopernicus-Book.ttf") format("truetype"), url("/assets/fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg")
}

@font-face {
	font-family: 'Copernicus';
	font-weight: normal;
	font-style: italic;
	src: url("/assets/fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("/assets/fonts/GalaxieCopernicus-BookItalic.ttf") format("truetype"), url("/assets/fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg")
}
/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/montserrat-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('/assets/fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/fonts/montserrat-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('/assets/fonts/montserrat-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/fonts/montserrat-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('/assets/fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
/* MAT */
.mat-menu-panel {
	margin-top: 32px;
}
.mat-menu-content {
	display: table-caption;
}
button.button-top-mat.mat-button {
	color: rgba(255, 255, 255, 0.62);
}
.cdk-overlay-container {
	position: absolute;
}
div#cdk-overlay-0 {
	top:0px !important;
}
@media screen and (max-width: 767px) {
.mat-menu-panel {
	display: none;
	
}
}
/* MAT */
.carousel-caption {
	z-index: 1040;
	top: 10px;
}
