/* You can add global styles to this file, and also import other style files */
/* @import '~bootstrap/dist/css/bootstrap.min.css'; */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

main {
  background-color: #f3f3f3;
}

li.ng-star-inserted {
  font-size: 14px;
}

/* .w-100 {
  margin:0 auto;
  width: auto !important;
} */
.card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'robotlight', 'Copernicus', sans-serif;
}

.lead {
  font-size: 17px;
}

.card {

  background-color: transparent;
  border: none;
}

h1,
p,
h5 {
  font-family: 'robotlight';
  font-weight: normal;
  font-style: normal;
}

.card {
  margin-bottom: 10px;
}

span {
  font-family: 'robotlight';
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
}

a {
  font-family: 'robotlight';
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
}

h2 {
  font-family: 'robotlight', 'Beaufort-Bold'
}

a#dropdown01 {
  font-family: 'robotlight';
  font-size: 12px;
  text-align: center;
}

@font-face {
  font-family: 'Huge';
  src: url("/assets/fonts/huge_agb_v5-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/huge_agb_v5-webfont.woff") format("woff"), url("/assets/fonts/huge_agb_v5-webfont.ttf") format("truetype"), url("/assets/fonts/huge_agb_v5-webfont.svg#svgFontName") format("svg")
}

@font-face {
  font-family: 'Copernicus';
  font-weight: normal;
  font-style: normal;
  src: url("/assets/fonts/GalaxieCopernicus-Book.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GalaxieCopernicus-Book.woff") format("woff"), url("/assets/fonts/GalaxieCopernicus-Book.ttf") format("truetype"), url("/assets/fonts/GalaxieCopernicus-Book.svg#svgFontName") format("svg")
}

@font-face {
  font-family: 'Copernicus';
  font-weight: normal;
  font-style: italic;
  src: url("/assets/fonts/GalaxieCopernicus-BookItalic.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/GalaxieCopernicus-BookItalic.woff") format("woff"), url("/assets/fonts/GalaxieCopernicus-BookItalic.ttf") format("truetype"), url("/assets/fonts/GalaxieCopernicus-BookItalic.svg#svgFontName") format("svg")
}

@font-face {
  font-family: 'Beaufort-Bold';
  font-style: bold;
  font-weight: 400;
  src: url('/assets/fonts/Beaufort-Bold.eot');
  /* IE9 Compat Modes */
  src: local('Beaufort-Bold'), local('Beaufort-Bold'),
    url('/assets/fonts/Beaufort-Bold.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/Beaufort-Bold.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/Beaufort-Bold.ttf') format('truetype'),
    /* Safari, Android, iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'robotlight';
  src: url('/assets/fonts/Roboto-Light.ttf')
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/montserrat-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url('/assets/fonts/montserrat-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */
    url('/assets/fonts/montserrat-v12-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */
    url('/assets/fonts/montserrat-v12-latin-regular.woff') format('woff'),
    /* Modern Browsers */
    url('/assets/fonts/montserrat-v12-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */
    url('/assets/fonts/montserrat-v12-latin-regular.svg#Montserrat') format('svg');
  /* Legacy iOS */
}

.ng-star-inserted {
  /* max-height: 400px; */
}

/* MAT */
.mat-menu-panel {
  margin-top: 32px;
}

.mat-menu-content {
  display: table-caption;
}

a.mat-button.mat-button:hover {
  background-color: transparent;
  color: black;
}

ul.navbar-nav.mr-auto {
  margin: 0 auto;
}

a.navbar-brand {
  color: white;
  text-shadow: 2px 1px black;

}

button.button-top-mat.mat-button {
  color: rgba(255, 255, 255, 0.62);
  border: 1px solid white;
  padding: 1px 10px 1px 10px;
  line-height: 21px;
}

.cdk-overlay-container {
  position: absolute;
}

div#cdk-overlay-0 {
  top: 0px !important;
}

@media screen and (max-width: 767px) {
  .mat-menu-panel {
    display: none;

  }

}

/* MAT */
.carousel-caption {
  z-index: 1040;
  top: 10px;
}

@media screen and (max-width: 767px) {
  .navbar-toggle .icon-bar {
    background-color: #fff;
  }

  .navbar-toggle .icon-bar {
    display: block;
    width: 22px;
    height: 1px;
    border-radius: 1px;
  }

  .navbar-toggle {
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: #f3f3f3;
    background-image: none;
    border: 1px solid;
    border-radius: 4px;
  }

  .navbar-toggle .icon-bar+.icon-bar {
    margin-top: 4px;
  }
}

@media screen and (min-width: 767px) {
  .navbar-toggle {
    display: none;
  }

}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
} */

#news .news-box .news-info {
  float: left !important;
}

.abs_news_box {
  position: absolute;
  margin-top: -20px;
  width: 100%;
}

.news-box .news-info {
  padding: 27px 27px 60px 27px;
  height: 250px;
  overflow: hidden;
  position: relative;
  /* width: 50%; */
}

.news-box a>div {
  /* width: 50%; */
  float: left;
}

.news-box .news-info .more {
  position: absolute;
  color: #fff;
  display: block;
  line-height: 18px;
  bottom: 20px;
  left: 27px;
}

.news-box:nth-child(3n+2) {
  background: #00b4cb;
  margin-left: 10px;
}

.news-box {
  float: left;
  width: 20%;
  margin-left: 30%;
  background: #00b4cb;
  color: #fff;
}

#news .news-header {
  width: 100%;
  float: left;
}

.news-box a {
  color: #fff;
  text-decoration: none !important;
}

.news-box .news-info {
  padding: 27px 27px 60px 27px;
  height: 250px;
  overflow: hidden;
  position: relative;
  /* width: 50%; */
}

.news-box .news-image {
  background-repeat: no-repeat !important;
  background-position: center center !important;
  background-size: cover !important;
  height: 280px;
  /* width: 50%; */
}

@media (max-width: 991px) {
  .news-box {
    width: 100%;
  }

  .row.content-row.ng-star-inserted {
    float: none !important;
  }

  .news-box:nth-child(2n) .news-info {
    float: left;
  }

  .news-box:nth-child(2n) .news-image {
    float: right;

  }
}

@media (max-width: 479px) {
  .news-box .news-info {
    width: 100% !important;
  }

  .abs_news_box {
    position: relative;
    margin-top: 2px;
  }

  .news-box a>div {
    width: 100%;
  }

  .news-box .news-image {
    display: none;
  }
}

.row.featurette.card:hover {
  /* background-color: red; */
  /* -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75); */
}

table,
th,
td {
  border-bottom: 1px solid #bfbdbd;
  border-collapse: collapse;
}

tr:nth-child(odd) {
  background-color: transparent;
}

tr:nth-child(even) {
  background-color: #ececec;
}

th,
td {
  padding: 5px;
  text-align: left;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

app-table.ng-star-inserted {
  margin: 0 auto;
}

.container {
  overflow: auto;
}

nav.navbar.navbar-expand-md.navbar-dark.navbar-header-bot {
  display: block;
}

li.nav-item.ng-star-inserted {
  display: inline-block;
}

ul.navbar-nav.mr-auto {
  display: inline-block;
}

@media (max-width: 767px) {
  nav.navbar.navbar-expand-md.navbar-dark.navbar-header-bot {
    display: flex;
  }

  li.nav-item.ng-star-inserted {
    display: inline-block;
  }

  ul.navbar-nav.mr-auto {
    display: flex;
  }
}

.col {
  flex-basis: unset;
}

.row.content-row.ng-star-inserted {
  display: block;
}

body {
  line-height: 1.25;
}

/* table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
} */

@media screen and (max-width: 768px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: table-cell;
    font-size: .8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}

@media screen and (max-width: 768px) {
  table td::before {
    font-weight: bold;
    text-align: center;
    display: block;
    float: none;
    color: #a5a5a5;
    /* clear: both; */
    text-transform: uppercase;
  }

  ul.ng-star-inserted {
    text-align: justify;
    font-family: 'robotlight';
    font-weight: normal;
    font-size: 14px;
    font-style: normal;
  }

  table {
    border: 0;
    margin: 0 auto;
    width: 100%;
  }

  td.center-table {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .col-md-auto {
    flex: unset;
    width: auto;
    max-width: none;
  }
}

.cdk-global-overlay-wrapper {
  display: flex;
  position: fixed;
  z-index: 1040;
}

@media (max-width: 768px) {
  .cdk-overlay-container {
    z-index: 1040;
  }

  .cdk-overlay-backdrop {
    position: fixed;
    z-index: 1040;
  }
}

/* /. Long menu./ */
ul.navbar-l-menu {
  display: inline-block;
}

li.nav-items-l {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .row.featurette.card {
    display: block;
  }

  .row.content-row {
    display: block;
    float: none !important;
  }

  .social-links {
    display: none;
  }

  li.nav-li-top {
    margin: 0 auto;
  }
}

.container.top.ml-md-auto {
  overflow: unset;
}

@media screen and (min-width: 768px) {
  li.nav-item.nav-li-top.dropdown {
    color: rgba(255, 255, 255, .62);
    border: 1px solid #fff;
    padding: 1px 10px;
    line-height: 21px;
  }
}

.navbar {
  padding: 0.3rem 1rem;
}

li.nav-item.nav-li-top {
  margin: auto;
}

.nav-link {
  padding: 0.1rem 1rem;
}

a#dropdown01 {
  font-weight: 600;
}

app-table {
  margin: 0 auto;
}

.btn:focus,
.btn.focus {
  outline: 0;
  box-shadow: unset;
}

a.mat-button.btn.mat-button {
  font-family: robotlight;
  font-weight: 600;
  font-size: 14px;
  font-style: normal;
}

a.mat-button.btn.mat-button:hover {
  background-color: #dedede;
}

/* /. Long menu./ */
.navbar-light .navbar-nav .nav-link {
  color: black;
}
span.span-header {
  color: black;
  font-size:12px;
}

.feature-wrapper {
  margin-bottom: 60px;
  text-align: center;
}
.feature-wrapper .feature-img-wrapper {
  background-position: center;
}
.feature-wrapper .twelve-col {
  position: relative;
}
.feature-wrapper .feature-img-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 2px 24px 0 rgba(0,0,0,.1);
  overflow: hidden;
  position: relative;
}
.feature-wrapper .twelve-col:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 33.3333333333%;
}
.feature-wrapper .feature-img-wrapper:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 50%;
}
.feature-wrapper .feature-card {
  background: #FFF;
  box-shadow: 2px 2px 24px 0 rgba(0,0,0,.1);
  display: inline-block;
  margin: 0 auto;
  margin-top: -132px;
  padding: 24px 33px 0;
  text-align: left;
  width: 75%;
}
.feature-wrapper .feature-card, .feature-wrapper .feature-img-wrapper {
  position: relative;
}
.feature-wrapper .feature-card .category-date p {
  display: inline-block;
}
.feature-wrapper .feature-card .category-date p.date {
  float: right;
  position: relative;
}
.feature-wrapper .feature-card .feature-text {
  margin-bottom: 42px;
}
.menu-padding {
  position: absolute;
  margin-top: -175px;
}
@media (min-width: 1200px){
h2 {
    font-size: 50px;
    line-height: 54px;
}}
.feature-wrapper .feature-card .feature-text h1 span[data-color=explore], .feature-wrapper .feature-card .feature-text h2 span[data-color=explore], .feature-wrapper .feature-card .feature-text h3 span[data-color=explore] {
  border-bottom-color: #EB9532;
}
.vc_column-inner::after, .vc_column-inner::before {
  content: " ";
  display: table;
}
@media (max-width: 767px){
.feature-wrapper .twelve-col {
    position: relative;
}}
@media (max-width: 767px){
.feature-wrapper .twelve-col:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50.7253728315%;
}
.feature-wrapper .feature-card {
  margin-top: 0;
  width: 100%;
}
}
@media (max-width: 991px){
.feature-wrapper .feature-card {
    margin-top: -60px;
}
}
app-textimages {
  width:100%;
}