<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <outboundRules>
                <rule name="Force HTTPS" stopProcessing="true">
                    <match pattern="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Rewrite" value="https://{HTTP_HOST}/{R:1}"/>
                </rule>
            </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>