@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
/* .box:nth-child(odd) .box-content {
	text-align: right;
}
section:nth-child(even) .box .box-content {
	text-align: left;
} */
.box {
    background: black;
}
.spiner-loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999 !important;
}
.head-logo:after {
	content: '';
    background: white;
    position: absolute;
    height: 130px;
    width: 130px;
    position: absolute;
    margin: auto;
    /* border-radius: 50% / 20px; */
    box-shadow: rgba(0, 0, 0, 0.5) 0 8px 8px;
    /* clip: rect(20px, auto, 50px, 0); */
    border-radius: 50%;
    left: 0px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 0px 0px 36px 13px #000000b5;
    right: 0;
    top: -49px;
    z-index: 8;
    bottom: 0;
  }

.head-logo-portals:after {
  content: '';
  display: block;
  clear: both;
}

.spiner-image {
  width: 50px;
  top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.img.logo {
	width: 20vh;
    -webkit-filter: unset;
    filter: unset;
    height: auto;
  }

@media screen and (min-width: 768px) {
  .logo-portals {
    width: 100px;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -65px;
    z-index: 9;
    bottom: 0;
  }
  
  .logo-name {
    display: inline;
    text-align: center;
    font-family: OSWALD;
    font-size: 6vh;
    vertical-align: middle;
    margin-top: 50px;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
  }

  .head-logo {
    width: 100%;
    height: 100%;
  }

  .head-logo-portals {
    position: absolute;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
  
}

@media screen and (max-width: 768px) {
  .head-logo {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  
  .head-logo:after {
	display: none;
  }
  .logo-name {
    display: inline;
    text-align: center;
    font-family: OSWALD;
    font-size: 6vh;
    vertical-align: middle;
  }

  .logo-portals {
    margin: 0 auto;
    width: 100px
  }
}

section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

body,
html {
  font-size: 100%;
  padding: 0;
  margin: 0;
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #f2ede3;
  /* background: #333; */
  font-size: 0.9em;
  font-weight: 300;
}

a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 80%;
}

a:hover {
  color: #fff;
}

.container {
  height: 100%;
}

.bl-main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bl-main>section {
  position: absolute;
  width: 50%;
  height: 50%;
}

.bl-main>section:first-child {
  top: 0;
  left: 0;
}

.bl-main>section:nth-child(2) {
  top: 0;
  left: 50%;
}

.bl-main>section:nth-child(3) {
  top: 50%;
  left: 0;
}

.bl-main>section:nth-child(4) {
  top: 50%;
  left: 50%;
}

.bl-box {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  /* Centering with flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.bl-box h2 {
  text-align: center;
  margin: 0;
  padding: 20px;
  width: 100%;
  font-size: 1.8em;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.bl-icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

.bl-icon:before {
  display: block;
  font-size: 2em;
  margin-bottom: 10px;
}

.bl-icon-about:before {
  content: "\e000";
}

.bl-icon-works:before {
  content: "\e001";
}

.bl-icon-blog:before {
  content: "\e002";
}

.bl-icon-contact:before {
  content: "\e003";
}

.bl-main>section .bl-icon-close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

.bl-icon-close:before {
  content: "\e005";
}

a.nav-link {
  /* z-index: 2; */
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  padding: 0px;
}

/* a.nav-link:hover {
  border: 12px solid;
} */

.bl-content,
div.bl-panel-items>div>div {
  opacity: 1;
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto;
}

/* Custom content */

.bl-content p {
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 1.7em;
  line-height: 1.8;
}

.bl-content h2 {
  font-size: 3em;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.bl-content article {
  padding: 20px 40px 20px 0px;
}

.bl-content article h3 {
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  padding-top: 20px;
  font-size: 1.4em;
}

.bl-content article a {
  color: rgba(0, 0, 0, 0.2);
}

.bl-content>ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.bl-content>ul li {
  display: inline-block;
  width: 20%;
  margin: 1%;
}

.bl-content>ul li a {
  display: block;
  padding: 0;
  border: 8px solid rgba(0, 0, 0, 0.1);
}

.bl-content>ul li a img {
  display: block;
  max-width: 100%;
}

/* Panel Items */

div.bl-panel-items,
div.bl-panel-items>div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

div.bl-panel-items>div>div {
  width: 60%;
  margin: 0 auto;
  opacity: 1;
  bottom: 90px;
  top: 90px;
  pointer-events: auto;
}

div.bl-panel-items>div>div h3 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0 0 20px 0;
}

div.bl-panel-items>div>div p {
  font-size: 1.3em;
}

div.bl-panel-items>div>div img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}

div.bl-panel-items {
  top: 100%;
  z-index: 9999;
}

div.bl-panel-items>div {
  background: #3ba5db;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -moz-transform: translateY(0);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -ms-transform: translateY(0);
}

div.bl-panel-items nav {
  position: absolute;
  z-index: 9999;
  width: 216px;
  left: 50%;
  top: 0px;
  margin-left: -108px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
  -moz-transition: opacity 0.2s ease-in-out 0.5s;
  transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
  float: left;
  margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  line-height: 2em;
  cursor: pointer;
  margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
  opacity: 1;
  top: -70px;
}

div.bl-panel-items>div.bl-show-work {
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transform: translateY(-100%);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  -ms-transform: translateY(-100%);
}

div.bl-panel-items>div.bl-hide-current-work {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transform: translateY(-100%) scale(0.5);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transform: translateY(-100%) scale(0.5);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(-100%) scale(0.5);
  -ms-transform: translateY(-100%) scale(0.5);
  z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-main>section {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bl-main>section.bl-expand {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bl-main>section.bl-expand-top {
  z-index: 100;
}

/*  					TOP				 */
section:nth-child(1) .bl-box:nth-child(1):hover .portal-visible {
  left: 25% !important;
}

section:nth-child(1) .bl-box:nth-child(1):hover span.span-visible {
  top: -100px !important;
}

section:nth-child(2) .bl-box:nth-child(1):hover .portal-visible {
  right: 25% !important;
}

section:nth-child(2) .bl-box:nth-child(1):hover span.span-visible {
  top: -100px !important;
}

/*  					TOP				 */
/*  					bottom			 */
section:nth-child(3) .bl-box:nth-child(1):hover .portal-visible {
  left: 25% !important;
}

section:nth-child(3) .bl-box:nth-child(1):hover span.span-visible {
  bottom: -1000px !important;
}

section:nth-child(4) .bl-box:nth-child(1):hover .portal-visible {
  right: 25% !important;
}

section:nth-child(4) .bl-box:nth-child(1):hover span.span-visible {
  bottom: -1000px !important;
}

/*  					bottom			 */


section:nth-child(1) img.portal-visible {
  position: absolute;
  left: -1000px;
  top: 0px;
  transition: left 1s;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

section:nth-child(2) img.portal-visible {
  position: absolute;
  right: -1000px;
  top: 0px;
  transition: right 1s;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

section:nth-child(1) span.span-visible {
  position: absolute;
  top: 50%;
  transition: top 1s;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

section:nth-child(2) span.span-visible {
  position: absolute;
  top: 50%;
  transition: top 1s;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

/*  					TOP				 */
/*  					bottom			 */

section:nth-child(3) img.portal-visible {
  position: absolute;
  left: -1000px;
  top: 0px;
  transition: left 1s;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

section:nth-child(4) img.portal-visible {
  position: absolute;
  right: -1000px;
  top: 0px;
  transition: right 1s;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

section:nth-child(3) span.span-visible {
  position: absolute;
  bottom: 50%;
  transition: bottom 1s;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

section:nth-child(4) span.span-visible {
  position: absolute;
  bottom: 50%;
  transition: bottom 1s;
  -webkit-animation: fadeInFromNone 0.5s ease-out;
  -moz-animation: fadeInFromNone 0.5s ease-out;
  -o-animation: fadeInFromNone 0.5s ease-out;
  animation: fadeInFromNone 0.5s ease-out;
}

.portal-- {
  widows: 100%;
  height: 100%;
}

div.bl-box:hover,
div.portal-visible:active {
  left: 0px;
}

div.bl-box:hover,
span.span-visible:active {
  top: 0px;
}

/* section:nth-child(2) .portal-visible {
	position: absolute;right: 1000px;
} */
/* .bl-main>section:first-child.bl-expand {
  background: #EE4444;
}

.bl-main>section:nth-child(2).bl-expand {
  background: #F98262;
}

.bl-main>section:nth-child(3).bl-expand {
  background: #4BBE8E;
}

.bl-main>section:nth-child(4).bl-expand {
  background: #0D8278;
} */

.bl-main.bl-expand-item>section:not(.bl-expand),
.bl-main.bl-expand-item>section.bl-scale-down {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

.bl-box {
  -webkit-transition: opacity 0.2s linear 0.5s;
  -moz-transition: opacity 0.2s linear 0.5s;
  transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.bl-box h2 {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.no-touch section:not(.bl-expand) .bl-box:hover h2 {
  -webkit-transform: translateY(-15px);
  -moz-transform: translateY(-15px);
  -ms-transform: translateY(-15px);
  transform: translateY(-15px);
}

.bl-content,
.bl-icon-close {
  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .bl-icon-close {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0.5s;
  -moz-transition: opacity 0.3s linear 0.5s;
  transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {

  .bl-content,
  .bl-box {
    font-size: 75%;
  }

  .bl-expand .bl-box {
    height: 130px;
  }

  .bl-content>ul li {
    width: 40%;
  }
}

/* old */
.demo {
  background-color: #e7e7e7;
}

.box {
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 1;
  transition: all 0.3s ease 0s;
}

.box:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  background: white;
}

.box .curve1 {
  opacity: 0;
  position: absolute;
  right: -2px;
  top: -100%;
  z-index: 1;
  transition: all 0.3s ease-in-out;
}

.box:hover .curve1 {
  opacity: 1;
  top: -1%;
}

.post {
  /* font-size: 1.5vw; */
  text-align: left;
  font-size: 2.5vh;
  font-family: 'Roboto', sans-serif;
  padding: 0 20px;
}

a.button {
  display: inline-block;
  padding: 0.35em 1.2em;
  /* border: 0.1em solid #FFFFFF; */
  margin: 0 0.3em 0.3em 0;
  /* border-radius: 0.12em; */
  box-sizing: border-box;
  bottom: 30px;
  right: 5px;
  left: 5px;
  position: absolute;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.2s;
}

a.button:hover {
  color: #000000;
  background-color: #FFFFFF;
}

@media all and (max-width:30em) {
  a.button {
    display: block;
    margin: 0.4em auto;
  }
}

.box:hover .span-visible {
  /* display: none; */
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
/* section:nth-child(even) .box .title {
-webkit-transform: translateX(-100%); 
transform: translateX(-100%);
} */

.box path {
  fill: rgba(255, 255, 255, 0.8);
}

.box img {
  width: 100%;
  height: auto;
  object-fit: cover;
  height: 100%;
  background-size: auto;
  /* width: 100%; */
  transition: all 0.3s ease 0s;
}

.box:hover img {
  filter: blur(2px) grayscale(100%);
}

.box .box-content {
  color: #FC427B;
  text-align: right;
  width: 100%;
  height: 100%;
  position: absolute;
  /* right: 15px; */
  padding: 10px;
  top: 15px;
  z-index: 2;
}

.box .title {
  font-size: 22px;
  font-weight: 600;
  /* height: ; */
  min-height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease 0.2s;
}

.box .post {
  color: #000;
  /* font-size:14px; */
  letter-spacing: 1px;
  text-transform: none;
  margin: 0 2px 5px 0;
  opacity: 0;
  display: block;
  transform: translateX(-20%);
  transition: all 0.5s ease 0.2s;
}

.box .icon {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease 0.2s;
}

.box:hover .title,
.box:hover .post,
.box:hover .icon {
  opacity: 1;
  -webkit-transform: translateX(0) !important;
    transform: translateX(0) !important;
}

.box .icon li {
  margin: 0 2px;
  display: inline-block;
}

.box .icon li a {
  color: #FC427B;
  font-size: 17px;
  text-align: center;
  line-height: 32px;
  height: 35px;
  width: 35px;
  border: 2px solid #FC427B;
  border-radius: 50%;
  display: block;
  transition: all 0.3s;
}

.box .icon li a:hover {
  color: #fff;
  background-color: #FC427B;
  border-color: #fff;
  box-shadow: 0 0 5px #000;
}

.box .curve2 {
  opacity: 0;
  position: absolute;
  left: -2px;
  bottom: -100%;
  transition: all 0.3s ease-in-out;
}

.box:hover .curve2 {
  opacity: 1;
  bottom: -2px;
}


@media screen and (max-width: 767px) {
  .navbar-nav .dropdown-menu {
    margin-left: -50px;
  }

  .bl-main>section {
    position: relative;
    display: contents;
    width: 50%;
    height: 50%;
  }

  img.logo {
    width: 44vh !important;
  }

  h3.title {
    text-align: center;
  }

  .bl-main {
    height: unset;
  }

  .box {
    margin-bottom: 5px !important;
  }

  span.post {
    display: none !important;
  }

  a.nav-link:hover {
    border: 2px solid !important;
  }
}

@media only screen and (max-width:990px) {
  .box {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width:479px) {
  .box .title {
    font-size: 18px;
  }
}
