<ngx-spinner
  bdColor="white"
  size="medium"
  color="black"
  type="ball-clip-rotate">
  <div style="position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999!important;">
  <img width="50px" style="top: 50%;
  left: 50%;
  margin: 0;
  position: absolute;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);"src="assets/images/spinner.png"> <p class="spiner-text">
  Karma Zdrowia</p>
 </div>
 
</ngx-spinner>
<!-- <div *ngIf="spiner"> -->
  <div *ngIf="spiner">
<app-portal *ngIf="isActivePortalValid()" [portals]='portals'></app-portal>
</div>
<div *ngIf="!isActivePortalValid()" class="container" style="padding: 0px; margin: 0px;">

  <div id="bl-main" class="bl-main">
    <section style="background-position: center;border: 1px solid white;
        background-repeat: no-repeat;
        background-size: cover;"
      *ngFor="let portal of portals">
      <!-- <a class="nav-link" style=" 
             width: 100%;
            height: 100%;
            font-size: 24px;
    line-height: 44px;
            position: relative;
            /* background: black; */
            z-index: 2;
            opacity: 0.7;"
        routerLink="/{{portal.name}}/{{portal.sections.length > 0 ? portal.sections[0].name : ''}}">
       -->
      <a class="nav-link" routerLink="/{{portal.name}}/{{portal.sections.length > 0 ? portal.sections[0].name : ''}}">

        <!--   <img class="portal-visible" src="{{portal.logo}}" style="width:50vh">
          <span class="span-visible" style="color:black; font-family: OSWALD;
      font-size: 2rem;">{{portal.label}}</span>
          {{portal.description}} -->

        <div class="box" style="background: black">
          <svg class="curve1" x="0px" y="0px" viewBox="0 0 400 1000">
              <rect height="200%" width="100%" y="0" x="0" 
              fill-opacity="0.45" fill="#ffffffb3" /></svg>
          <img src="{{portal.images_top[1]}}" alt="" style="opacity: 0.6;">
          <div class="span-visible" style="
                          font-size: 6vmin;
    text-align: center;
    top: 34%;
    margin: 0 auto;
    position: absolute;
    /* top: 0px; */
    bottom: 0px;
    left: 0px;
    right: 0px;
                     ">{{portal.label}}</div>
          <div class="box-content">
            <h3 class="title"><img class="" src="{{portal.logo}}" style="width:20vh;-webkit-filter: unset;
                                 filter: unset;"></h3>
            <span class="post" style="font-size:1rem"></span>
            
            <span class="post"> {{portal.description}}</span>
            <a routerLink="/{{portal.name}}/{{portal.sections.length > 0 ? portal.sections[0].name : ''}}" class="button post" style="margin:0 auto;">Przejdz do Strony</a>
          </div>
         
              
        </div>

        <!-- <div class="box21">
                          <img class="" src="{{portal.images_top[1]}}" style="">
                          <div class="box-content">
                              <h3 class="title">willimson</h3>
                              <span class="post">web designer</span>
                          </div>
                          <ul class="icon">
                              <li><a href="#"><i class="fa fa-plus"></i></a></li>
                              <li><a href="#"><i class="fa fa-link"></i></a></li>
                          </ul>
                      </div> -->


      </a>
      <!-- </a> -->
    </section>

  </div>
</div>
<!-- <app-portal *ngIf="isActivePortalValid()" [portals]='portals'></app-portal>
<div *ngIf="!isActivePortalValid()" class="" style="padding: 0px; margin: 0px;">
<div class="wrapper" id="wrapper" data-reactroot="" data-browser="chrome" data-browser-version="69" data-os="windows">
  <div class="global-nav-background global-nav-background--open global-nav-background--active"><button aria-hidden="true"
      class="global-nav__hit-area" tabindex="-1"></button>
    <div aria-atomic="true" aria-live="off" class="a11y-hint" role="status"></div><button class="h-logo h-logo--opened"
      id="header-logo-huge" tabindex="0">
      <div class="a11y-hint">Huge logo. Click to open navigation.</div>
      <div class="h-logo--wink" style="background-image:url(//images.ctfassets.net/fiz3jwws2um7/57mQrUMgmAQcEiu4mYKECA/46ed674eaf0bb26f396e4eccb64fa691/hwink_sequence.png?h=148)"></div>Karma Zdrowia
    </button>
    <div class="global-content-vertical-fix global-content-vertical-fix--shrink">
      <div class="global-content-wrapper global-content-wrapper--shrink" id="global-content-wrapper"><span>
      
          
        </span></div>
    </div>
    <div class="global-nav-wrapper global-nav-wrapper--open">
      <nav aria-hidden="false" class="global-nav global-nav--open">
        <a  *ngFor="let portal of portals" class="col-md-6 global-nav-item global-nav-item"
        routerLink="/{{portal.name}}/{{portal.sections.length > 0 ? portal.sections[0].name : ''}}">
          <div class="global-nav-item__label">{{portal.label}}</div>
          <hr class="global-nav-item__rule">
          <div class="global-nav-item__description"><img src="{{portal.logo}}" style="width:100%"></div>
        </a>
        </nav>
      
    </div>
    
  </div>
</div>
</div> -->
<!-- </div> -->