<div *ngFor="let b of data">

  <div class="row featurette" *ngIf="b.type == 'text_and_image'">
    <hr class="featurette-divider">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">{{b.type}} <span class="text-muted">{{b.content.lead}} </span></h2>
      <p class="lead">{{b.content.text}}</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x500/auto" alt="500x500" src="{{b.content.image}}"
        data-holder-rendered="true" style="width: 500px; height: 500px;">
    </div>
  </div>
  <hr class="featurette-divider">
  
</div>