<div class="" *ngFor="let sections of data.data">
        <div *ngFor="let type_class of sections.data">
          <div *ngFor="let type_classes of type_class.content.description">
            <div *ngIf="type_classes === data.type_class">
              <h2 mat-dialog-title>{{type_class.content.title}} </h2>
              <mat-dialog-content class="mat-typography">{{type_class.content.text}}
               
              </mat-dialog-content>
            </div>
          </div>
        </div>
        <mat-dialog-content class="mat-typography">
      
        </mat-dialog-content>
        <hr>
        <mat-dialog-actions align="end">
          <button mat-button mat-dialog-close>Cancel</button>
        </mat-dialog-actions>
      