.card-img-top {
  width: 100%;
  height: 200px;
}
.col-sm-4 {
  float: left;
}
p.fit-p-on-image {
  opacity: 0.6;
  background-color: #000;
  color: #fff;
  padding: 10px;
  width: 100%;
  position: absolute;
  bottom: -10px;
}