<div class="col-md-12" *ngIf="!portalFilter(portals.portal)" style="margin:0 auto">
  <h2 class="featurette-heading" style="padding-left: 1.25rem;padding-top: 1.25rem; font-weight: 600;">{{data.content.title}}</h2>
  <div class="asd" *ngFor="let classes of typeClasses.data">
    <div class="col-lg-offset-2 col-lg-12">
      <div class="row" style="display:block">
        <div class="col-sm-6 box-news-content" style="float:left;padding: 0px;">
          <a style="cursor:pointer;" (click)="openDialog(classes.content.title)">
            <div class="col-sm-6 box-news image-box-t" style="width: 100; height: 280px">
              <h3 class="fit-p-on-title">{{classes.content.title}}</h3>
              <p class="fit-p-on-text">
                {{classes.content.text}} </p>
              <span class="more">Czytaj Wiecej</span>
            </div>
            <div class="col-sm-6 box-news image-box-s" [ngStyle]="{'background-image':'url('+classes.content.image+')'}"
              style="float:left;width: 100%">
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>